@import "../../Styles/Bootstrap/imports";

.movie-header {
    position: relative;
    margin-bottom: 2.2rem;
}

.movie-cover-bg {
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
    height: 250px;
    background-position: 50% 0%;

    @include media-breakpoint-up("lg"){
        height: 400px;
    }
}

.movie-title {
    font-size: 1.8em;
}

.movie-small-title {
    font-size: 1.4em;
}

.movie-back {
    position: absolute;
    top: 30px;
    left: 5px;

    svg {
        fill: white;
    }
}

.movie-thumbnail {
    margin-top: -50px;
    max-width:  130px;

    box-shadow: 0 0.3rem 0.7rem 0.5rem rgba(0, 0, 0, 0.6);
    border-radius: 12px;


    @include media-breakpoint-up("lg"){
        margin-top: -100px;
        max-width:  250px;
    }
}