// override bootstrap variables here
$theme-colors: (
    "dark": #081B23,
    "pink": #D1225B,
    "purple": #4902A3,
    "green": #01D277
);

$body-bg: #081B23;
$body-color: #a8beca;

$headings-font-family: "Montserrat", serif;
$headings-font-weight:        600;
$headings-line-height:        1.1;
$headings-color:              white;

$hr-border-color: rgba($body-color, .2);


@mixin placeholder-color( $color) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
        font-weight: bold;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
        font-weight: bold;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
        font-weight: bold;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
        font-weight: bold;
    }
}