@import "../../Styles/Bootstrap/imports";

.rating-badge {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: .875em;
    border-radius: .875em;
    color: #fff;
    padding: .05em .625em;
}

.movie-smaller-title {
    font-size: 1.1em;
}

.movie-grid-thumbnail {
    box-shadow: 0 0.2rem 0.7rem 0rem rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}