.home-header {
    display: flex;
    height: 200px;
    justify-content: center;

    background-repeat: no-repeat;
    background-position: calc(50% - 5px) 50%;
    margin-left: -15px;
    margin-right: -15px;
}