@import "../../Styles/Bootstrap/imports";

.btn-search {
    position: absolute;
    top: 10px;
    right: 15px;
    border: 0;
    background-color: transparent;
    fill: theme-color("green");
}

.txt-search {
    @include placeholder-color(theme-color("green"));
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: -10px;
    box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.5);
 }

 /* clears the 'X' from Internet Explorer */
 input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
 input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

 /* clears the 'X' from Chrome */
 input[type="search"]::-webkit-search-decoration,
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-results-button,
 input[type="search"]::-webkit-search-results-decoration { display: none !important; }